.wrap {
	margin: 50px auto;
	position: relative;
	width:960px;
	background: #f2f4f7;
}




.header {
	z-index: 100;
	border-bottom: 1px solid #d1d8e4;
	background: #fbf9ff;
	width: 100%;
}


body, button, input, select, table, textarea {
	font-size: 12px;
	font-family: Dotum, '돋움', Helvetica, "Apple SD Gothic Neo", sans-serif;
}

#body-wrapper {
	overflow: hidden;
	display: inline-block;
}

header {
	width: 1140px;
	margin: 0 auto;
}

#top-menu {
	width: 1140px;
	min-width: 1140px !important;
	background-color: #fbf9ff;
}

#top-menu-right {
	position:absolute;
	right:0;
	float: right;
}

#top-menu-right .al_bar {
	margin: 5px 4px 0 9px;
	width: 1px;
	height: 11px;
	background: #000000;
}

#top-menu {
	position: relative;
	z-index: 102;
	text-align: center;
	width: 100%;
	min-width: 960px;
	height: 32px;
	border-bottom: 1px solid #c1c1c1;
}

a:link, a:visited, a:hover {
	color: black;
	text-decoration: none;
}

/* header */
.special_bg {
	position: relative;
	height: 130px;
	transition: height .3s ease;
}

.special_bg .area_flex {
	position: relative;
	margin: 0 auto;
	width: 1080px;
	height: 100%;
}

.area_links {
	position: absolute;
	top: 11px;
	right: -5px;
	zoom: 1;
}

.area_links .al_favorite {
	float: left;
	height: 21px;
	color: #888;
	letter-spacing: -1px;
	font-size: 11px;
	line-height: 22px;
}

.search {
	position: absolute;
	top: 50%;
	left: 219px;
	margin-top: -18px;
	width: 521px;
}

form {
	margin-top: 0em;
}


.bt_search {
	overflow: hidden;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	line-height: normal;
	text-align: center;
	text-shadow: 1px 1px 0px #FFFFFF;
	color: #909090;
}

.greenbox {
	position: relative;
	float: left;
	border: 2px solid #7C65B2;
	background: #fff;
}

.greenwindow .bt_search {
	overflow: visible;
	float: left;
	position: relative;
	width: 45px;
	height: 45px;
	margin-left: -2px;
	padding: 0;
	border: 0;
	background-color: #7C65B2;
	cursor: pointer;
	float: left;
}

.greenwindow legend {
	display: none;
}

.greenwindow fieldset {
	display: block;
}

fieldset {
	border: none;
}

.greenbox .keyword {
	display: block;
	width: 456px;
	height: 41px;
}

.greenbox input {
	width: 393px;
	height: 23px;
	margin: 11px 0 0 9px;
	_margin-top: 6px;
	padding: 0;
	border: 0;
	font-family: '돋움', dotum, sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: 700;
	outline: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.spnew {
	display: inline-block;
}

.ico_search_submit {
	position: absolute;
	top: 15px;
	left: 5px;
	width: 35px;
	height: 35px;
	background-position: -3px -5px;
}

 .search_area {
	position: relative;
	display: inline-block;
	width:100%;
	margin: 0 auto;
	height: 100%;
} 

#logo_image{
	margin: 0 auto;
	display:inline-block;
	width:80px;
	height:80px;
	background: #e5e5e5;
	
}

 #search_form {
	display: inline-block;
	overflow:visible;
	width:550px;
	margin: 0 auto;
} 
.greenwindow {
	width: 510px;
	margin: 0 auto;
}

/* 사이드메뉴 */
.ltShowKind, #ltShowKind {
	color: #f79323;
	font-size: 13px;
}

.ltShowName, #ltShowName {
	color: #333;
	font-size: 20px;
	font-weight: bold;
}

.ltShowDetail, #ltShowDetail {
	font-size: 11px;
	line-height: 16px;
	color: #999;
	height: 32px;
}

.ltShowPlace, #ltShowPlace {
	font-weight: bold;
	color: #666;
}

.ltdate, #ltdate {
	font-size: 10px;
	color: #999;
	font-weight: normal
}

.ltShowStar, #ltShowStar {
	display: -webkit-inline-box;
	height: 18px;
}

.ltShowStar p, #ltShowStar p {
	padding-left: 6px;
    padding-top: 1px;
}

.ltShowStar p b, #ltShowStar p b {
	color: #f79323;
}

.ltShowPrice, #ltShowPrice {
	color: #333;
	font-size: 15px;
	font-weight: bold;
}

.ltShowTicket, #ltShowTicket {
	text-align: right;
	float: left;
	width: 170px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: bold;
}

.ltShowTicket b, #ltShowTicket b {
	color: #f79323;
	font-weight: bold;
	margin: 0 3px;
	font-size: 15px;
}

.section {
	width: 1140px;
	height: 100%;
	margin: 5px auto;
}

/* 사이드바 */
#accordian {
	position:absolute;
	z-index:9999;
	margin-right:50px;
	background: #7C65B2;
	width: 180px;
	height: 100%;
	margin-left: 10px;
	color: white;
	/*Some cool shadow and glow effect*/
	box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px
		rgba(255, 255, 255, 0.5);
}

#accordian h3 {
	font-size: 13px;
	line-height: 50px;
	padding: 0 10px;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: #684da8;
	/*background: linear-gradient(#8368c1, #5c4396);*/
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 12px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}

#accordian li.active ul {
	display: block;
}

#accordian a:link, #accordian a:visited, #accordian a:hover {
	color: white;
	text-decoration: none;
}

/* 슬라이드배너 */
.slider {
	width: 1183px;
	margin: 10px auto;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
}

.slick-prev:before, .slick-next:before {
	color: black;
}

.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}

.slick-active {
	opacity: .5;
}

.slick-current {
	opacity: 1;
}

.slick-dots{
	display: none;
}

.footer {
	z-index:99999;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #7C65B2;
	color: white;
	text-align: center;
	width: 100%;
}

/* menubar */
.menubar {
	width: 1140px;
	margin: 0 auto;
	overflow: hidden;
	height: 50px;
}

.menubar ul {
	display:block;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

.menubar li {
	overflow: hidden;
	width: 228px;
	float: left;
	padding: 0px;
}

.menubar li a {
	background: #7C65B2;
	color: #cccccc;
	display: block;
	font-weight: normal;
	line-height: 50px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
}

.menubar li a:hover, .menubar ul li:hover a {
	background: #5c4396;
	color: #FFFFFF;
	text-decoration: none;
}

.menubar li ul {
	background: #7C65B2;
	display: none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 228px;
	z-index: 200;
	/*top:1em;
/*left:0;*/
}

.menubar li:hover ul {
	display: block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
	background: #7C65B2;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 228px;
}

.menubar li:hover li a {
	background: none;
}

.menubar li ul a {
	display: block;
	height: 50px;
	font-size: 12px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: left;
}

.menubar li ul a:hover, .menubar li ul li:hover a {
	background: #5c4396;
	border: 0px;
	color: #ffffff;
	text-decoration: none;
}

.menubar p {
	clear: left;
}

/* 플로팅 배너 */
#left-header {
	padding:0;
	overflow:hidden;
	display: inline-block;
	width:200px;
	min-width:200px;
	float:left; 
	
}

#right-header {
	margin: 0 auto;
	padding:0;
	overflow:hidden;
	display: inline-block;
	width:286px;
	min-width:286px;
	float:right;
}

#floatparent{
	overflow:hidden;
	height:5000px;
}

#floatMenu {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 300px;
	background-color: #606060;
	color: #fff;
	z-index: 999;
}

/* SHOW COMMENT */
.tableArea {
	width: 600px;
	height: auto;
	margin-top: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tableArea table td {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0px;
	text-align: center;
}

